{% extends 'base.html' %}

{% load tailwind_tags %}
{% tailwind_css %}

{% block meta %}
<title>Create your To-Do List</title>
{% endblock meta %}

{% block content %}  

<div class = "buattodo">
    
    <h1 class = "bg-black">To do List</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="bg-blue-500" type="submit" name="submit" value="Create"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}